header {
  text-align: center;
  background-color: rgb(15, 15, 68);
  color: white;
  padding: 2rem;
}

footer {
  text-align: center;
  background-color: rgb(15, 15, 68);
  color: white;
  padding: 2rem;
}

ul {
  color: white;
  display: inline-block;
}

#main {
  text-align: center;
  color: rgb(15, 15, 68);
  padding: 2rem;
}

#links {
  color: white;
}
