header {
  text-align: center;
  background-color: rgb(15, 15, 68);
  color: white;
  padding: 2rem;
}

footer {
  text-align: center;
  background-color: rgb(15, 15, 68);
  color: white;
  padding: 2rem;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

nav ul li {
  display: inline-block;
  padding: 0.5rem;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  color: pink;
}

#main {
  text-align: center;
  color: rgb(15, 15, 68);
  padding: 2rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card {
  height: 300px;
  width: 500px;
  box-shadow: 5px 5px 10px rgb(15, 15, 68);
  margin: 2rem;
  color: rgb(15, 15, 68);
}

.card img {
  width: 200px;
}

.recipesList {
  display: flex;
  justify-content: center;
}
